<html>
    <head>
        <meta charset="UTF-8">
        <title>検索</title>
    </head>
    <body>
        <h>・情報検索</h>
        <table>
            <form method="GET" action="result">
                <tr>
                    <td>資格から検索</td>
                    <td><input type="text" name="name"></td>
                    <td><label>JSON<input type="radio" name="format" value="JSON" checked></label></br>
                        <label>XML<input type="radio" name="format" value="XML"></label></td>
                    <td><input type="submit" value="検索"></td>
                </tr>
            </form>
        </table>
    </body>
</html>